<head>
<!-- Start of 51Chat.net Livechat Script -->
<script type="text/javascript">
var color = '#1f8ceb';
var domain = document.location.hostname;
domain = domain?domain:'www.51chat.com';
(function(w, d, s, u) {
  w.liveChat = function(c) { w.liveChat._.push(c) }; w.liveChat._ = []; w.liveChat.url = u;w.liveChat.color = color;
  var h = d.getElementsByTagName(s)[0], j = d.createElement(s);
  j.async = true; j.src = 'http://live.51chat.net/packages/rocketchat_livechat/assets/51chat.js';
  h.parentNode.insertBefore(j, h);
})(window, document, 'script', 'http://live.51chat.net/livechat?domain='+domain+'&color='+color);
</script>
<!-- End of 51Chat.net Livechat Script -->
</head>
<template name="scripts"></template>
